{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <header class="col-xs-3 sidebar">
      <h1>{{ site_data.title }}</h1>
      <p>{{ site_data.author }}</p>
      <p>{{ site_data.description }}</p>

      <nav>
        <ul class="nav nav-sidebar">
          {% for view in site_data.views %}
            <li><a href="#{{ view.id }}">{{ view.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <div id="content" class="col-xs-9 col-xs-offset-3">
      {% for view in site_data.views %}

        <section id="{{ view.id }}-section">
          <a name="{{ view.id }}"></a>
          <h2>{{ view.title }}</h2>
          <p>{{ view.description }}</p>
          <script id="{{ view.id }}-template" type="text/x-handlebars-template">
            {{ view.template|safe }}
          </script>
        </section>
      {% endfor %}
    </div>
    
  </div>
</div>

{% endblock %}