<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site_data.title }}</title>

	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/handlebars-v2.0.0.js"></script>
  <script type="text/javascript" src="lib/lodash.compat.js"></script>
  <script type="text/javascript" src="lib/swag.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <script type="text/javascript">
Swag.registerHelpers(Handlebars);
var site_json = {{ json_data|safe }}; 
  </script>

</head>
<body>
  
  {% block content %}{% endblock %}
  
<script type="text/javascript" src="js/get_data.js"></script>
</body>
</html>