// Main

body { padding-bottom: 50px; }

section {
	margin-top: 60px;
	padding-top: 40px;
	border-top: 3px solid #ccc;
	p { margin: 20px 0; }
	&:first-child { margin-top: 0; padding-top: 0; border-top: none; }
}


.sidebar {
	height: 100%;
	position: fixed;
	h1 { margin-bottom: 30px; }
	p { margin: 20px 0; }
	nav {
		margin-top: 40px;
		border-top:
		1px solid #ccc;
		.nav-sidebar { margin-left: -15px; }
	}

}
